<html>
    <head>
        <meta charset='utf-8' />
        <title></title>
        <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
        <script id="mapbox-gl" src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js'></script>
        <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css' rel='stylesheet' />

        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src='https://api.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js'></script>
        <link rel= "stylesheet" type= "text/css" href= "styles/button-styles.css">
        <link rel= "stylesheet" type= "text/css" href= "styles/text-styles.css">
        <link rel= "stylesheet" type= "text/css" href= "styles/nav-styles.css">
        <link rel= "stylesheet" type= "text/css" href= "styles/home-styles.css">

    </head>

    <body>
        <body>
        <div id="wrapper">
            <div id="map"></div>
        </div>
        <div class="sidenav">
            <img id="logo" src= "/Elena-one.png" alt="Logo" class="logo" />
            <img id="logo2" src= "/trekking.png" alt="Logo2" class="logo2" />

            <label for="threshold" class="thres">Elevation max path limit (x%) &nbsp;&nbsp;</label>
            <input type="number" id="x" min="0" name="threshold" value=0 style="width: 50px; position: fixed; left: 320px; bottom:63; padding: 1px; text-align: center; border: none;">
            <input type="radio" name="skill1" class="check" style="position: fixed; bottom:49px; left: 420px; padding: 1px" value="minimize"> 
            <label for="skill1" style="position: fixed; bottom:47px; left: 440px; padding: 1px"> Minimize Elevation </label>
            <input type="radio" name="skill2" style="position: fixed; bottom:77px; left: 420px; padding: 1px" class="check" value="maximize" checked>
            <label for="skill2" style="position: fixed; bottom:75px; left: 440px; padding: 1px"> Maximize Elevation </label>
            <button id="reset" class="reset-button">Reset</button>
            <button id="calc_route" class="calculate-button" disabled>Calculate</button>
            
            <label style="position: fixed; font-weight: 900;bottom: 47px; left: 735px; padding: 1px; color: green">Elena:</label>
            <hr style="position: fixed; bottom: 61px; left: 645px; width: 600px; border-bottom: 1px solid #8A8888;">
            <label style="position: fixed; font-weight: 900; bottom: 75px; left: 725px; padding: 1px; color: blue">Shortest:</label>
            
            <label style="position: fixed; bottom: 47px; left: 820px; padding: 1px; color: green">Gain: </label>
            <div id="gain_1" style="position: fixed; bottom: 47px; left: 880px; padding: 1px; color: green"></div>
            
            <label style="position: fixed; bottom: 75px; left: 820px; padding: 1px; color: blue">Gain: </label>
            <div id="gain_2" style="position: fixed; bottom: 75px; left: 880px; padding: 1px; color: blue"></div>
            
            <label style="position: fixed; bottom: 47px; left: 970px; padding: 1px; color: green">Drop: </label>
            <div id="drop_1" style="position: fixed; bottom: 47px; left: 1020px; padding: 1px; color: green"></div>
            
            <label style="position: fixed; bottom: 75px; left: 970px; padding: 1px; color: blue">Drop: </label>
            <div id="drop_2" style="position: fixed; bottom: 75px; left: 1020px; padding: 1px; color: blue"></div>
            
            <label style="position: fixed; bottom: 47px; left: 1120px; padding: 1px; color: green">Distance: </label>
            <div id="dist_1" style="position: fixed; bottom: 47px; left: 1200px; padding: 1px; color: green"></div>
            
            <label style="position: fixed; bottom: 75px; left: 1120px; padding: 1px; color: blue">Distance: </label>
            <div id="dist_2" style="position: fixed; bottom: 75px; left: 1200px; padding: 1px; color: blue"></div>
            
        </div>
        <div id="info" class="infonav">
            <div id='lat' style="position: fixed; top:30; left: 20px; padding: 1px">Latitutde: </div>
            <div id='long' style="position: fixed; top:60; left: 20px; padding: 1px">Longitude: </div>
            <div id="start" style="position: fixed; top:90; left: 20px; max-width: 250px; padding: 1px"> Start Location: </div>
            <div id="end" style="position: fixed; top:120; left: 20px; max-width: 250px; padding: 1px"> End Location: </div> 
        </div>
        
        <div id="loading">
            <img id="loading-image" src= "/map_loader.gif" alt="Loading..." style="top: 300; left: 570" />
        </div>     
        
        <script>
            var start_flag=false;
            var end_flag=false;
            var start_loc="";
            var end_loc="";
            var minimize_elevation=true;
            $(document).ready(function(){
                $('.check').click(function() {
                    $('.check').not(this).prop('checked', false);
                });
            });

            mapboxgl.accessToken = '{{ ACCESS_KEY }}';
            var map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v11',
                center: [-72.529262, 42.384803],
                zoom: 13,
            });

            var m1, m2;
            points = turf.featureCollection([]);
            
            map.on("load" , () => {
                $('#loading').hide();
                // add data source to hold our data we want to display
                map.addSource('circleData', {
                    type: 'geojson',
                    data: {
                    type: 'FeatureCollection',
                    features: [],
                    },
                });

                map.addLayer({
                    id: 'data',
                    type: 'circle',
                    source: 'circleData',
                    paint: {
                    'circle-opacity' : 0.1,
                    'circle-radius': 300,
                    'circle-stroke-width': 2,
                    'circle-stroke-color': '#333',
                    },
                });
            }
            );
            map.on('mousemove', function (e) {
                
                document.getElementById('lat').innerHTML =                    
                    "Latitude: "+e.lngLat["lat"].toFixed(4);

                document.getElementById('long').innerHTML = 
                    "Longitude: "+e.lngLat["lng"].toFixed(4);
            });
            
            map.on('click', function(e) {

                lngLat = new Array(e.lngLat.lng, e.lngLat.lat);

                console.log(JSON.stringify(e.lngLat))
                if (!start_flag)
                {
                    document.getElementById('start').innerHTML ="Start Location:("+Math.round(e.lngLat["lat"] * 10000)/10000+","+Math.round(e.lngLat["lng"] * 10000)/10000+")";
                    start_loc=JSON.stringify(e.lngLat);
                    start_flag=true;
                    m1 = new mapboxgl.Marker({color:'red'})
                    .setLngLat(e.lngLat)
                    .addTo(map);
                    map.flyTo({center: lngLat});
                }
                else if(!end_flag )
                {
                    document.getElementById('end').innerHTML ="End Location:("+Math.round(e.lngLat["lat"] * 10000)/10000+","+Math.round(e.lngLat["lng"] * 10000)/10000+")";
                    end_loc=JSON.stringify(e.lngLat);
                    m2 = new mapboxgl.Marker({color:'blue'})
                    .setLngLat(e.lngLat)
                    .addTo(map);
                    end_flag=true;
                    document.getElementById("calc_route").disabled = false;
                }
            });
        </script>
        <script type="text/javascript" src="scripts/mapbox.js" ></script>
        
    </body>
</html>
